* {
    font-family: "Gill Sans", sans-serif;
}

ul {
    list-style: none;
    display: flex;
}

nav, h1, h2 {
    display: flex;
}

.header-img > img {
    height: auto;
    width: 100%;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:356px) {
.alert-info {
    display: flex;
    background-color: rgb(214, 254, 254);
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
}
.alert-info > a {
    color: #333333;
    text-decoration: none;
    margin: auto;
    padding: 1em;
    font-weight: 400;
}
h1 {
    margin: auto;
    justify-content: center;
}

.nav-links {
    flex-direction: column;
    width: 100%;
    padding-inline-start: 0;
    background-color: lightgray;

}
.nav-links > li {
    padding: 1em;
    margin: auto;

}


}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
.alert-info {
    display: none;
}

h1 {
    justify-content: flex-start;
}

.nav-links {
    flex-direction: row;
    background-color: white;
}




}

