/*>>> Don't worry with the ingredient list just yet*/
/*>>> Place each recipe instruction inside a respective element (perhaps use <p> for each)*/
/*>>> Create a CSS class (here and in box-model: try not to inline your CSS props if not necessary) and give it a background color*/
/*  >>> Use height/width defined in the above CSS class in order to format those elements*/
/*  >>> Place your recipe instructions inside of a container.*/
/*  >>> Define your container's box model so that it can display all of the instructions AND is centered left/right*/
/*relative to its parent element (should be the body)*/
/*>>> Give the container enough top margin so to separate it from the top of the body element*/



/*>>> Using padding within your previously defined CSS class, give your recipe instruction elements padding*/
/*>>> What looks best, and why?*/


/****** OUTSIDE OF PADDING - Border ******/
/*       To really draw eyes to the glory of our recipe, let's add borders!*/

/*>>> Apply a ~tasteful~ border style to the CSS class you've been using for the instructions*/
/*>>> Be sure the border has color and width in a way which lets it stand out*/
/*>>> Play around with the border-radius CSS property! Link 👀--> https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/


/*                       ***** OUTERMOST LAYER - Margin ******/
/*       Margin is the final determining box model layer which can help us space elements apart from each other*/

/*       >>> As you can guess, apply a ~tasteful~ amount of margin around each element!*/
/*>>> Try using the individual, top-bottom/left-right, and all-in-one way of applying the margin*/
/*>>> When all elements have 10px applied to their top and bottom margins,*/
/*      what do you notice about the total margin between those elements? (see, margin collapse Link 👀--> https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing*/
/*
           >>> HINT: Try using 'auto' as the left-right margin value if you want to center it 😉*/
.instruction {
    height: 1em;
    width: 70%;
    margin: .1em;
    padding: 1em;
    border: 1px solid;
    font-family: "Gill Sans";
    color: #fff;
    font-weight: bold;


}

.recipe {
    text-align: center;
    margin-top: 5em;
}

.bread {
    background-color: #ef935c;
    border-color: saddlebrown;
}

#top {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

#bottom {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.peanutButter {
    background-color: burlywood;
    border-color: chocolate;
    border-radius: 1em;
}

.jelly {
    background-color: darkviolet;
    border-color: rebeccapurple;
    border-radius: 1em;
}