/*
1 - Open up your welcome.html file from earlier.
2 - Center the main heading
3 - Add a style to change the color of the headers on your page and make them underlined.
4 - Add a style to change the background color of the page.
5 - Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image.
6 - Add a style to change the list-style to something other than the default bullet.
7 - Add a style to change the font for the entire page. Use google fonts if you would like.
8 - Add a style to change the table, table cells td and rows tr padding and font sizes.
9 - Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).
10 - Continue experimenting with styles to increase the visual appeal of the page.
*/


.fancy-header {
    color: crimson;
    text-decoration: underline;
}

h1.fancy-header {
    text-align: center;
    font-size: 60px;
}

h2 {
    color: mediumvioletred;
    text-decoration: underline;
}

body {
    background-color: black;
    font-family: Helvetica;
    background-image: url(../img/codeup-arrow.png);
    background-repeat: repeat-y;
    text-indent: 80px;
}

p, li, tr, a {
    color: ivory;
}

table, tr, td{
    table-layout: fixed;
    border: 1px solid ivory;
    margin-left: 60px;
    width: 80%;
    font-size: 24px;

}

ul {
  list-style: none;
}

a:visited {
    color: darkred;
}
a:hover {
    color: dodgerblue;
    font-size: 24px;
}
a:active {
    color: green;
}

hr {
    opacity: 20%;
}

img {
    margin-left: 80px;
}





